.employee-list:hover {
    background-color:rgba(102, 97, 91, 0.08);
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.hidden {
    pointer-events: none;
    opacity: 0;
}

.active {
    background-color: rgba(82, 195, 255, 0.838);
}