<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
    integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
    integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div id="wrapper" class="wrapper-content">
    <div id="content-wrapper">
        <div class="ml-auto">
            <div>
                <div class="d-flex flex-wrap justify-content-between gap-2 mb-3">
                    <form class="form-inline my-2 my-lg-0">
                        <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
                            name="key" id="searchName" class="form-control" placeholder="Search employees..." required
                            size="30" autocomplete="off">
                    </form>
                    <div>
                        <a (click)="navigateToPage('employee/add')" class="btn btn-primary"><i
                                class="bx bx-plus me-1"></i>Add New Employee</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Position</th>
                                <th scope="col">Department</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                            </tr>
                        </thead>
                        <tbody class="employee-list" *ngFor="let employee of employees">
                            <tr (click)="navigateToPage('/employee/' + employee.id)">
                                <td>{{employee?.id}}</td>
                                <td>{{employee?.firstName}} {{employee?.lastName}}</td>
                                <td>{{employee?.position}}</td>
                                <td>{{employee?.department?.name}}</td>
                                <td>{{employee?.email}}</td>
                                <td>{{employee?.phone}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="ml-auto d-flex justify-content-end mb-3">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" [ngClass]="0 == (page.number) ? ' disabled' : ''" [ngClass]="page.totalPages < 2 ? ' hidden' : ''">
                        <a (click)="goToNextOrPreviousPage('previous')" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo; Previous</span>
                        </a>
                    </li>
                    <li *ngFor="let pageNumber of [].constructor(page.totalPages); let i = index;" class="page-item" [ngClass]="page.totalPages < 2 ? ' hidden' : ''">
                        <a (click)="goToPage(i)" class="page-link" [ngClass]="i == (page.number) ? ' active' : ''">
                            {{ i + 1 }}
                        </a>
                    </li>
                    <li class="page-item" [ngClass]="(page.totalPages - 1) == (page.number) ? ' disabled' : ''" [ngClass]="page.totalPages < 2 ? ' hidden' : ''">
                        <a (click)="goToNextOrPreviousPage('next')" class="page-link" aria-label="Next">
                            <span aria-hidden="true">Next &raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>